<notifier-container style="position: absolute;"></notifier-container>
<!-- <div class="">
    <a routerLink="/hyperlinks">HyperLinks</a>
    <a routerLink="/searchBar"> Search</a>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link navbar-brand" routerLink="/hyperlinks">HyperLinks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-brand" routerLink="/searchBar"> Search</a>
        </li>
    </ul>
</nav>

<br><br>
<router-outlet></router-outlet>
