/* Styling for router links */
/* a {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  } */
  
  /* a:hover {
    background-color: #ddd;
  } */
  
  /* Styling for router outlet 
  router-outlet {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  */