<!-- <form [formGroup]="form" class="form-container" (ngSubmit)="onSubmit()">
  <label for="hyperlink">Hyperlink:</label>
  <input type="text" id="hyperlink" formControlName="hyperlink">

  <label for="keywords">Keywords:</label>
  <div formArrayName="keywords">
    <div class="keyword-input-container">
      <div *ngFor="let keyword of keywordForms.controls; let i = index" class="keyword-input-wrapper">
        <input type="text" [formControlName]="i" list="datalistOptions" [(ngModel)]="searchTerm"
          (input)="onSearchInputChange()">
        <button type="button" class="remove-button" (click)="removeKeyword(i)">Remove</button>
      </div>
    </div>
  </div>
  <button type="button" (click)="addKeyword()">Add Keyword</button>
  <button type="submit">Submit</button>
</form> -->


<div class="form-container">
  <div class="hyperlink">
    <label for="hyperlink">Hyperlink:</label>
    <input type="text" id="hyperlink" (focusout)="onHyperlinkEntered()" [(ngModel)]="dataToAdd.hyperlink">
  </div>
  <div class="keyword">
    <label for="keywords">Keywords:</label>
    <input type="text" id="keywords" list="datalistOptions" [(ngModel)]="searchTerm" (input)="onSearchInputChange()">  
  </div>
  <div class="keywordList"> 
    <div class="key" *ngFor="let key of dataToAdd.keyWords">
      <a (click)="removeKeyword(key)">&#10005;</a>
      <h5>{{key}}</h5>
    </div>
  </div>
  <button type="button" (click)="addKeyword()">Add Keyword</button>
  <button type="submit" (click)="actionControl()">{{actionName}}</button>
</div>


<!-- This provides auto complete while adding keyword -->
<datalist id="datalistOptions" *ngIf="showAutocomplete">
  <option *ngFor="let keyword of filteredKeywords">
    <li (click)="onKeywordSelected(keyword)">{{ keyword }}</li>
  </option>
</datalist>